*
{
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 90px;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 60px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
    

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    border-radius: 4px;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px; ;
}

.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 850px;
    height: 35px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.85rem;

}
.nav-second{
    font-size: 0.95rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;

}
.nav-cart{
    font-size: 0.95rem;
    font-weight: 900;

}
.panal{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panal-ops p{
    display: inline;
    margin: 15px;    
}
.panal-ops{
    width: 70%;
    font-size: 0.85rem;  
}

.panal-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-sec{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


.shop-section{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 250;
    height: 23%;
    margin:20px;
    /* flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6; */
}

 .box{
    background-color: white;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
 }
 .box:hover {
    transform: translateY(-10px);
}
.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: white;
}
.box a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    background-color: white;
}
.box a:hover {
    text-decoration: underline;
}
    


  footer{
    margin-top: 50px;
  }
  .foot-panal1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }

  .foot-panal2{
    background-color: #222f3d;
    color: white;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
  }
  .foot-panal2 a {
    font-size: 0.95rem;
    font-weight: 700;
  }
  ul{
    margin-top: 20px;
  }

  .foot-panal2 p {
    display: block;
    font-size: 0.85rem;
    margin-top:10px ;
    color: #dddddd;
  }

  .foot-panal3{
    background-color: #37475a;
    color: white;
    border-top: 0.5px solid transparent;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    justify-content: center;
    object-fit: contain;
    height: 50px;
    width: 90px;
  }

  .foot-panal4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;

  }

  .pages{
    padding-top: 25px;
  }

  .copyright{
    padding-top: 5px;
  }